<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>ToDoList</title>
</head>
<body>
  <h1>ToDoリスト</h1>
  <div id="app">
    <div id="add_plan">
      <form @submit.prevent="add_List">
        内容：<input id="content" type="text" v-model="newList.name" size="30" maxlength="20" placeholder="ToDoの内容を入力">
        優先度：
        <select id="status" name="status_select" v-model="newList.status">
          <option value='低'>低</option>
          <option value='中'>中</option>
          <option value='高'>高</option>
          <option value='緊急'>緊急</option>
          </select>
        <input id="submit" type="submit" value="追加" class="btn-add">
      </form>
    </div>
    <button @click="shuffle" class="btn-shuffle">シャッフル</button>
    <button @click="All_delete" class="btn-AllDelete">全削除</button>
      <transition-group name="flip-list" tag="ul" class="list_test-wrap">
        <li v-for="(List, index) in Lists" v-bind:key="List.name" class="list_test" v-bind:style="{background: List.bgColor}"> 
          <!-- 通常時のToDoリスト -->
            <button @click="delete_List(index)" class="btn-delete">×</button>
            <button @click="edit_List(index)" class="btn-edit">編集</button>
            <p>ID:{{ List.id }}&emsp;優先度:{{ List.status }}</p>     
            <p>内容：{{ List.name }}</p>
        </li>
      </transition-group>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
  <script src="js/main.js"></script>
</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/8.0.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</html>