.flip-list-move {
  transition: transform .5s;
}

.list_test-wrap {
  list-style:  none;  /* デフォルトのアイコンを消す */
  margin:  0;         /* デフォルト指定上書き */
  padding: 0;         /* デフォルト指定上書き */
}

.list_test {
  padding:  5px;             /* 余白指定 */
  background-color:  #8f8f8f; /* 背景色指定 */
  border-radius:  10px;       /* 角丸指定 */
  margin-bottom: 5px;         /* 要素と要素の間指定 */
  color: #000;                /* 文字色指定 */
  font-size:  20px;           /* 文字サイズ指定 */
}

.list_test p {
  padding:  1px;             /* 余白指定 */
  margin-bottom: 1px;         /* 要素と要素の間指定 */
  line-height: 0.5em;       /* 行間 */
}

.btn-delete {
  display: inline-block;
  position: relative;
  float: right;
  text-decoration: none;
  color: #090808;
  font-size: 1em;
  width: 30px;
  height: 20px;
  line-height: 0;
  border-radius: 5px;
  text-align: unset;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}
.btn-delete:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#000000 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}

.btn-edit {
  display: inline-block;
  position: relative;
  float: right;
  text-decoration: none;
  color: #090808;
  font-size: 0.3em;
  width: 36px;
  height: 20px;
  line-height: 0;
  border-radius: 5px;
  text-align: unset;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#aaeeff 0%, #aaeeff 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}
.btn-edit:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#000000 0%, #aaeeff 100%);/*グラデーションを明るく*/
}